<h1> Quotes</h1>
<hr>
<ul>
    <div *ngFor='let quote of quotes; let i = index'>
        <li appbestQuote >{{quote.quote}}</li>
        <button (click)='toggleElaboration(i)'>Show Elaboration</button>
        <app-quote-detail *ngIf='quote.showElaboration' [quote]='quote' (isLiked)='vote($event,i)'
            (isDisliked)='downVote($event,i)' (isDelete)='deleteQuote($event, i)'></app-quote-detail>
        <li>{{quote.date | date}}</li>
        <p>This quote has {{likes}} likes</p>
        <p>This quote has {{dislikes}} dislikes</p>
        <p>This quote was added {{quote.date|timeLapes}} ago</p>
    </div>
</ul>
<div>
    <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
</div>

<p>The best quote is -------------</p>